apiVersion: apps/v1
kind: Deployment
metadata:
 name: db
 labels:
   app: db
spec:
 replicas: 1
 selector:
   matchLabels:
     app: db
 template:
   metadata:
     labels:
       app: db
   spec:
     containers:
     - name: db-container
       image: postgres:14.21-alpine3.22
       env:
        - name: POSTGRES_USER
          valueFrom: 
            configMapKeyRef:
              name: postgres-config
              key: POSTGRES_USER
        - name: POSTGRES_PASSWORD
          valueFrom:
            secretKeyRef:
              name: postgres-secret
              key: POSTGRES_PASSWORD
       ports:
       - containerPort: 5432