apiVersion: apps/v1
kind: Deployment
metadata:
 name: redis
 labels:
   app: redis
spec:
 replicas: 1
 selector:
   matchLabels:
     app: redis
 template:
   metadata:
     labels:
       app: redis
   spec:
     containers:
     - name: redis-container
       image: redis:8.2.4-alpine3.22
       ports:
       - containerPort: 6379