apiVersion: apps/v1
kind: Deployment
metadata:
 name: result-deployment
 labels:
   app: result
spec:
 replicas: 3
 selector:
   matchLabels:
     app: result
 template:
   metadata:
     labels:
       app: result
   spec:
     containers:
     - name: result-container
       image: kodekloud/examplevotingapp_result:v1
       ports:
       - containerPort: 80