apiVersion: apps/v1
kind: Deployment
metadata:
 name: vote-deployment
 labels:
   app: vote
spec:
 replicas: 3
 selector:
   matchLabels:
     app: vote
 template:
   metadata:
     labels:
       app: vote
   spec:
     containers:
     - name: vote-container
       image: kodekloud/examplevotingapp_vote:v1
       ports:
       - containerPort: 80